In [ ]:
Continuation of strings :

In [1]:
full_name = 'samala nakshatra'
print(full_name)

samala nakshatra

In [2]:
type(full_name)

str

In [3]:
print(full_name.title())

Samala Nakshatra

In [ ]:
# req : i want to print the entire name in capitals ?

In [4]:
print(full_name.upper())

SAMALA NAKSHATRA

In [ ]:
# req : i want to print the entire name in small case letters ?

In [5]:
print(full_name.lower())

samala nakshatra

In [ ]:
Introduction to f strings :

In [6]:
first_name = 'nakshatra'
last_name = 'samala'

In [ ]:
# req : i want to get the full name ?

In [ ]:
# Genral syntax of f strings :
f" custom words {placeholder1} {placeholder2}.....{placeholder...n}"

In [7]:
full_name = f"{first_name} {last_name}"
print(full_name)

nakshatra samala

In [8]:
print(full_name.title())

Nakshatra Samala

In [10]:
print(f"Hello,{full_name.title()}")

Hello,Nakshatra Samala

In [11]:
print(f"Hai,{full_name.title()}")

Hai,Nakshatra Samala

In [ ]:
Adding whitespaces to strings :

In [1]:
print("fav_prog_language:Pythonc++javacodalpascalsql")

fav_prog_language:Pythonc++javacodalpascalsql

In [4]:
print("fav_prog_language:Python\nc++\njava\ncodal\npascal\nsql")

fav_prog_language:Python
c++
java
codal
pascal
sql

In [ ]:
# \n -----> new line demiliter

In [5]:
print("fav_prog_language:Python\n\tc++\n\tjava\n\tcodal\n\tpascal\n\tsql")

fav_prog_language:Python
	c++
	java
	codal
	pascal
	sql

In [ ]:
# \t -----> tab demiliter

In [ ]:
Removing whitespaces from the strings :

In [6]:
language = 'Python'
print(language)

Python

In [7]:
language2 = '   java'
print(language2)

   java

In [8]:
language3 = 'c  '
print(language3)

c

In [9]:
language2.lstrip()     # left side stripping left elimination

'java'

In [13]:
language3.rstrip()     # right side stripping right elimination

'c'

In [11]:
name = '   nakshatra   '
print(name)

   nakshatra

In [12]:
name.strip()

'nakshatra'

In [ ]:
1. search -----> 2. Eliminate